.none{
    display:none;
}

#gui_game{
    width:50vw;
    height:50vw;
    margin: 0;
}

.quadrato{
    width:calc(100% / 10);
    height:calc(100% / 10);
    margin: 0;
    float:left; 
}
.cella{
    width: 100%;
    height: 100%;
    border: 1px solid black;
}